.leftSide {

    /* color: black;
 */

}

.note-picker {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-control {
    /* background-color: black; */
    border-radius: 5px;
    max-height: 80px;
    resize: none;
}
