.customCard {

    min-width: 12rem;
    max-width: 20rem;
    position: relative;
    transition: all 0.5s;
}

.customCard:hover {
    height: 270px;
    z-index: 150;
    cursor: pointer;
    background: black !important;
}

.note-close {
    position: absolute;
    top: 5px;
    right: 11px;
}

/* *, *::after, *::before {
    box-sizing: border-box;
} */


