.customCard {

    min-width: 12rem;
    max-width: 20rem;
    position: relative;
    transition: all 0.5s;
}

.customCard:hover {
    cursor: pointer;
    background-color: black !important;
}



.note-close {
    position: absolute;
    top: 5px;
    right: 11px;
}



